.home{
    background-color: #ffffff;
}
.container1{
    position: relative;
    text-align: center;
}

.titleContainer{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  padding: 2%;
  width: 80%;
    
}
.image1{
    width: 100%;
}
.title{
    color: #171061;
    font-size: 50px;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}


.subTitle{
    color: black;
    display: contents;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}


@media screen and (max-width: 576px) {
    .subTitle{
        display: none;
    }
    .title{
        font-size: 20px;
    }
    .titleContainer{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:white;
        padding: 2%;
        width: 60%;
          
      }
    
}

.body1{
    color: black;
    background-color:white;
    border-radius: 10px;
    padding: 100px 50px;
    transition-duration: .5s;
    transition-timing-function: ease;
    
}
.card{
    text-align: center;
    border: none;
    border-radius: 0%;
}

.header1{
    color: #171061;
    padding-bottom: 40px;
}
.text1{
    padding-bottom: 40px;
}
.btn{
    background-color: #171061;
    color: white;
    border-radius: 0%;
}
@media screen and (max-width: 576px){
    .card{
        padding: 20px 0px;
    }
    .header1{
        padding-bottom: 20px;
    }
    .text1{
        padding-bottom: 20px;
    }
}
.image2{
    opacity: 15%;
    width: 100%;
}
.container2{
    position: relative;
    text-align: center;
    display: flex; 
    overflow: hidden;
}
.container2Text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    width: 80%;
}
.header2{
    padding-bottom: 40px;
    color: #171061;
}
.header3{
    padding-bottom: 40px;
}
.text2{
    padding-bottom: 40px;
}

.body2{
    width: 100%;
    padding: 10%;
    text-align: center;
    color: black;
    background-color:white;
}

.text1{
    padding-top: 2%;
}

@media screen and (max-width: 905px){
    .image2{
        height: 250px;
    }
    .container2{
        position: relative;
        text-align: center;
    }
    .container2Text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2%;
        width: 80%;
    }
    .header2{
        padding-bottom: 20px;
        font-size: small;
    }
    .header3{
        padding-bottom: 20px;
        font-size: small;
    }
    .text2{
        padding-bottom: 20px;
        font-size: small;
    }

}
/* LOGO CONTAINER */
.container3{
    background-color: white;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
}
.clientTitle{
    color: #171061;
    padding: 100px;
}
.logoContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.clientImage{
    width: auto; 
    height: 150px;
    margin: 40px;
}

@media screen and (max-width: 576px){
    .container3{
        background-color: white;
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;
    }
    .clientTitle{
        color: #171061;
        padding: 50px;
    }
    .clientImage{
        width: auto; 
        height: 100px;
        margin: 20px;
    }

}
/* TESTIMONIALS CONTAINER */

.container4{
   /* overflow: hidden; */
   background-color: whitesmoke;
   padding-top: 100px;
   padding-bottom: 100px;
   text-align: center;
}

.formContainer{
    display: flex;
    justify-content: center;
}
